<fieldset>
  <h2>Listagem de Usuários</h2>
</fieldset>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>E-Mail</th>
      <th>Fone</th>
      <th>CPF</th>
      <th>Data de nascimento</th>
      <th>Data inclusão</th>
      <th>Data alteração</th>
      <th>Nome da Mãe</th>
      <th>Ativo?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of usersList$">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.fone}}</td>
      <td>{{item.cpf}}</td>
      <td>{{item.birthDate}}</td>
      <td>{{item.inclusionDate}}</td>
      <td>{{item.changeDate}}</td>
      <td>{{item.motherName}}</td>
      <td>{{item.isActive}}</td>
      <td><button type="button" class="btn btn-outline-primary">editar</button></td>

      <td><button class="btn"><i class="fa fa-trash"></i></button></td>
    </tr>
  </tbody>
</table>


<!-- Button trigger modal -->
<button (click)="modalAddUser()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Novo Usuário
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-users-register-component></app-users-register-component>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
