<fieldset>
  <h2>Listagem de Usuários</h2>
</fieldset>
<div>
  <input type="text" placeholder="Nome" style="width: 450px; padding: 2px 20px; margin: 10px 0px; height: 30px;" [(ngModel)]="nameFilterText">
</div>
<div>
  <input type="text" placeholder="E-Mail" style="width: 450px; padding: 2px 20px; margin: 10px 0px; height: 30px;" [(ngModel)]="emailFilterText">
</div>
<div>
  <input type="text" placeholder="Fone" style="width: 450px; padding: 2px 20px; margin: 10px 0px; height: 30px;" [(ngModel)]="foneFilterText">
</div>
<div>
  <input type="text" placeholder="CPF" style="width: 450px; padding: 2px 20px; margin: 10px 0px; height: 30px;" [(ngModel)]="cpfFilterText">
</div>
<div>
  <input type="text" placeholder="Nome da mãe" style="width: 450px; padding: 2px 20px; margin: 10px 0px; height: 30px;" [(ngModel)]="motherNameFilterText">
</div>
<div>
  <!-- <select data-bind="booleanValue: state" >
    <option value="true" [(ngModel)]="statusFilterText">On</option>
    <option value="false" [(ngModel)]="statusFilterText">Off</option>
</select> -->

</div>
<div>
  <select (change)="onTableSizeChange($event)">
    <option *ngFor="let size of tableSizes">
      {{size}}
    </option>
  </select>
</div>
<table id="users-table" class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>E-Mail</th>
      <th>Fone</th>
      <th>CPF</th>
      <th>Data de nascimento</th>
      <th>Data inclusão</th>
      <th>Data alteração</th>
      <th>Nome da Mãe</th>
      <th>Ativo?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of usersList
                                    | userFilter : nameFilterText
                                    | emailFilter : emailFilterText
                                    | cpfFilter : cpfFilterText
                                    | foneFilter : foneFilterText
                                    | motherNameFilter : motherNameFilterText
                                    | paginate:{itemsPerPage:tableSize,currentPage:page,totalItems:count}; let i = index">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.fone}}</td>
      <td>{{item.cpf}}</td>
      <td>{{item.birthDate}}</td>
      <td>{{item.inclusionDate}}</td>
      <td>{{item.changeDate}}</td>
      <td>{{item.motherName}}</td>
      <td>{{item.isActive}}</td>
      <td><button (click)="modalEditUser(item)"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal">
        editar
      </button></td>

      <td><button (click)="desactivateUser(item)" class="btn"><i class="fa fa-trash" ></i></button></td>
    </tr>
  </tbody>
</table>
<div>
  <pagination-controls
  previousLabel="Prev"
  nextLabel="Next"
  (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
</div>

<a style="cursor: pointer" (click)="exportexcel()">
  excel
</a>
<a style="cursor: pointer" (click)="SavePDF()">
  pdf
</a>

<!-- Button trigger modal -->
<button (click)="modalAddUser()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Novo Usuário
</button>

<!-- Modal Register-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-users-register-component></app-users-register-component>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<app-users-update-component *ngIf="showModalEdit" [userItem]="user"></app-users-update-component>
